/*Article section*/
.article_header {
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase
}

.rotate {
    transform: rotate(45deg);
}

.comment-line {
    border-right: 6px solid #ffc818 ;
}

.notes {
    font-size: 0.9rem;
    color: gray;
}

.image {
    width: 100%;
    height: 75%;
}