/* Globals */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

nav button {
    color: white;
}

/* Navbar */
.navbar-brand {
    width: 125px;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
}

.nav-link:hover {
    color: #ffcc00;
}

/* Cover */

.cover {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
}

.cover-bottom-link h6 {
    color: #ffcc00;
}

/* Cover */

.cover-heading div:first-of-type {
    border-left: solid 9px #ffcc00;
}

@media (min-width: 992px) {


}
