/* Globals */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

nav {
    background-color: rgba(0,0,0,0.5);
}

nav * {
    color: white;
}

section, footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.button {
    border: solid 6px #ffcc00;
    color: white;
    padding: 0.75rem;
}

/* Navbar */
.navbar-brand {
    width: 125px;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}

.nav-link:hover {
    color: #ffcc00;
}

/* Cover */

.cover {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: white;
}

.cover-bottom-link h6 {
    color: #ffcc00;
}

/* Cover */

.cover-heading div:first-of-type {
    border-left: solid 9px #ffcc00;
}

@media (min-width: 992px) {
    .cover-heading * h1 {
        font-size: 3.5rem;
    }

}

@media screen and (max-width: 992px){

    /* Navbar */

    .navbar-collapse {
        background-color: rgba(0,0,0,0.75);
    }

    nav {
        background-color: rgba(0,0,0,0.5);
    }

    .cover-links {
        height: 60px;
        overflow-y: scroll;
    }

}



/*Article section*/
@media (min-width: 992px) {
    .bottom-overlap, .left-overlap, .top-overlap {
        position: relative;

    }

    .bottom-overlap {
        bottom: 100px;
    }

    .top-overlap {
        top: 100px;
    }

    .left-overlap {
        left: 10%;
        z-index: 10;
    }
}

@media(max-width: 575.98px){
    .article .container-fluid .row > div{
        margin-bottom: 1rem;
    }
}

.square {
    width: 40%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image-selector div:nth-child(1){
    background-image: url("../images/iguana.jpg");
    background-size: cover;
}

.image-selector div:nth-child(2){
    background-image: url("../images/owl.jpg");
    background-size: cover;
}

.image-selector div:nth-child(3){
    background-image: url("../images/fox.jpg");
    background-size: cover;
    width: 10%;
}

.left-bar {
    border-left: solid 6px #ffcc00;
}

.rotate {
    transform: rotate(45deg);
}

/* Download section */
.download {
    background-image: url("../images/app.jpg");
    background-size: cover;
    background-position: center center;
    height: 75vh;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.download .container-fluid .row {
    background-color: rgba(0,0,0,0.5);
}

/* Footer */

@media (max-width: 992px){
    footer {
        overflow-y: scroll;
    }

    footer .container-fluid {
        height: 100%;
    }
}



footer {
    height: 33vh;
    background-color: #1a1a1a;
}

footer a {
    color: #6c757d;
}

footer .row div{
    margin-bottom: 1rem;
}

.footer-links {
    font-size: 0.8rem;
}

.footer-social-links {
    font-size: 1rem;
}