/* Globals */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

nav {
    background-color: rgba(0,0,0,0.5);
}

nav * {
    color: white;
}

/* Navbar */
.navbar-brand {
    width: 125px;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}

.nav-link:hover {
    color: #ffcc00;
}

/* Cover */

.cover {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
}

.cover-bottom-link h6 {
    color: #ffcc00;
}

/* Cover */

.cover-heading div:first-of-type {
    border-left: solid 9px #ffcc00;
}

@media (min-width: 992px) {
    .cover-heading * h1 {
        font-size: 3.5rem;
    }

}

@media screen and (max-width: 992px){

    /* Navbar */

    .navbar-collapse {
        background-color: rgba(0,0,0,0.75);
    }

    nav {
        background-color: rgba(0,0,0,0.5);
    }

    .cover-links {
        height: 60px;
        overflow-y: scroll;
    }

}



/*Article section*/
@media (min-width: 992px) {
    .bottom-overlap {
        position: relative;
        bottom: 200px;
    }
}

.square {
    width: 40%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image-selector div:nth-child(1){
    background-image: url("../images/iguana.jpg");
    background-size: cover;
}

.image-selector div:nth-child(2){
    background-image: url("../images/owl.jpg");
    background-size: cover;
}

.image-selector div:nth-child(3){
    background-image: url("../images/fox.jpg");
    background-size: cover;
    width: 10%;
}

.left-bar {
    border-left: solid 6px #ffcc00;
}

.rotate {
    transform: rotate(45deg);
}